*{
	box-sizing: border-box;
}
body{	
	background: #FFD51A;
	font-family: Tokyo;
	margin: 0;
	padding: 0;
}

/* Body Text */

h1 {
  color: #000000;
  font-size: 40px;
  margin: 20px 10px 0px;
  padding: 0px 30px 0px 30px;
  text-align: center;
}
.paragraph{
	text-align: center;
	font-size: 25px;
}


/* Dropdown Menu */
.dropdown{
	margin: 0 auto;
	background: #212121;
	position: relative;
}
nav{
	height: 60px;
	background: #212121;
	box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}
.logo{
	padding: 0px; 0 0 80px;
	width: 400px;
	height: 60px;
}
nav ul{
	padding: 0;
	margin: 0;
	float: right;
	margin-right: 30px;
}
nav ul li{
	background:  #212121;
	position: relative;
	list-style: none;
	display: inline-block;
}
nav ul li a{
	display: block;
	padding: 0 15px;
	color: white;
	text-decoration: none;
	line-height: 60px;
	font-style: 20px;
}
nav ul li a:hover{
	background: #e5e5e5;
}
nav ul ul{
	position: absolute;
	top: 60px;
	display: none;
}
nav ul li:hover > ul{
	display: block;
}
nav ul ul li{
	width: 150px;
	float: none;
	display: list-item;
	position: relative;
}
nav ul ul ul li{
	position: relative;
	top: -60px;
	Letter-spacing: 150px;
}

/* Login & Register */
.header{
	width: 50%;
	margin: 50px auto 0px;
	color: white;
	background: #333333;
	text-align: center;
	border: 1px solid black;
	border-botton: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}


form{
	width: 50%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid;
	background: white;
	border-radius: 0px 0px 10px 10px;
}



.input-group {
	margin: 10px 0px 10px 0px;
}

.input-group label{
	display: block;
	text-align: left;
	margin: 3px;
}

.input-group input{
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}

.btn{
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #333333;
	border: none;
	border-radius: 5px;
}
.btn:hover{
	background: #b2b2b2;

