*{
	box-sizing: border-box;
}
body{	
	background: #FEB800;
	font-family: Tokyo;
	margin: 0;
	padding: 0;
}

/* Body Text */

p{
	color: #555;
}

/* Dropdown Menu */
.dropdown{
	margin: 0 auto;
	background: #212121;
	position: relative;
}
nav{
	height: 60px;
	background: #212121;
	box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}
.logo{
	padding: 0px; 0 0 80px;
	width: 400px;
	height: 60px;
}
nav ul{
	padding: 0;
	margin: 0;
	float: right;
	margin-right: 30px;
}
nav ul li{
	background:  #212121;
	position: relative;
	list-style: none;
	display: inline-block;
}
nav ul li a{
	display: block;
	padding: 0 15px;
	color: white;
	text-decoration: none;
	line-height: 60px;
	font-style: 20px;
}
nav ul li a:hover{
	background: #e5e5e5;
}
nav ul ul{
	position: absolute;
	top: 60px;
	display: none;
}
nav ul li:hover > ul{
	display: block;
}
nav ul ul li{
	width: 150px;
	float: none;
	display: list-item;
	position: relative;
}
nav ul ul ul li{
	position: relative;
	top: -60px;
	Letter-spacing: 150px;
}

/* Body Temp*/
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.col-2{
	flex-basis: 50%;
	min-width: 300px;
}
.col-2 img{
	max-width: 100%;
	padding: 50px;
}
.col-2 h1{
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
	margin-left: 15px;
}
.col-2 p{
	font-size: 24px;
	margin-left: 15px;
}

/* WELCOME */
.welcome1 h2{
	text-align: center;
	margin: 625px 0 0;
	font-size: 50px
}


/* FOR ACCOUNT */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

.wrapper{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fdfd96;
	padding: 50px 15px 15px;
	border-radius: 5px;
}

.wrapper:before{
	content: "";
	position: absolute;
	top: 11px;
	left: 50%;
	transform: translateX(-50%);
	width: 80px;
	height: 13px;
	background: #FEB800; 
	border-radius: 50px;

}

.wrapper:after{
	content: "";
	position: absolute;
	top: -212px;
	left: 50%;
	transform: translateX(-50%);
	width: 60px;
	height: 230px;
	background: #353535; 
	box-shadow: 0 5px 5px rgba(0,0,0,0.125);

}

.wrapper .card{
	width: 220px;
	height: 420px;
	background: #fff;
	padding: 20px 20px 0;
	position: relative;
	border-radius: 5px;
}

.wrapper .card img{
	width: 100%;
	margin-bottom: 80px;

}

.wrapper .card:before{
	content: "";
	position: absolute;
	top: 20px;
	left: 20px;
	width: 30%;
	height: 225px;
	background: #0099CC;
	opacity: 0.8;

}

.wrapper .card:after{
	content: "IBITS";
	position: absolute;
	top: 125px;
	left: 0px;
	transform: rotate(-90deg);
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #fff; 
	font-size: 30px; 
}

.wrapper .card .ProfilePic input{
	display: none;
}

.wrapper .card .ProfilePic label{
    position: absolute;
    left:  50%;
    bottom: 25%;
	padding: 10px;
	font-size: 15px;
	background: #353535;
	color: #fff;
	cursor: pointer;
}

.wrapper .card .ProfilePic label:hover{
    background: #0099CC;
	color:#fff;
	border-color: #0099CC;
	transition: .5s;
}

.wrapper .card .ProfilePic a{
    padding: 10px;
   position: absolute;
    right:  50%;
    bottom: 25%;
    font-size: 15px;
	background: #353535;
	color: #fff;
	cursor: pointer;
}

.wrapper .card .ProfilePic a:hover{
    background: #0099CC;
	color:#fff;
	border-color: #0099CC;
	transition: .5s;
}

.wrapper .card .info{
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	padding: 20px;
	background: #353535;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.wrapper .card .info p{
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 400;
	color: #fff;
	text-align: center;
	font-size: 12px;
}


